<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="RadioGloboFM" Publisher="CN=Ricardo" Version="2.0.0.21" />
  <Properties>
    <DisplayName>RadioPlayerGloboFM</DisplayName>
    <PublisherDisplayName>Login Informática LTDA.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RadioPlayerGloboFM.App">
      <VisualElements DisplayName="Globo FM" Logo="Assets\GFM\100\Logo-150x50px.png" SmallLogo="Assets\GFM\100\Small-Logo-30x30px.png" Description="Globo FM" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile WideLogo="Assets\GFM\100\Wide-Logo-310x150-px.png" />
        <SplashScreen Image="Assets\GFM\100\Splash-Screen-620x300px.png" BackgroundColor="#000000" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="MainPage.xaml">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.fileSavePicker">
          <FileSavePicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileSavePicker>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name=".xml">
            <DisplayName>Xml</DisplayName>
            <SupportedFileTypes>
              <FileType ContentType="text/xml">.xml</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>